
html, body {height:100%;}
*{
    margin: 0%;
    padding: 0%;
}

div{
    margin: -200px;
}

body{
      overflow-x: hidden;
}

nav{
    display: block;
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    background-color: white;
    color: black;
    
}

nav a:hover{
    text-decoration:underline;
    }

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    
}


#index{
    background-image: url(../Pesquisa-ong/img/fundoindex.png) ;
   

}
#cadastro{
    background-image: url(../Pesquisa-ong/img/fundocadastro.jpg);

}

#mapa{
 background-image: url(../Pesquisa-ong/img/fundomapas.jpg);
 background-size: 100%;

}

.link li{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align:  center;
    font-family: 'Arial';
    font-size: 100%;
    color: black
}

.link li:hover{
    background-color: black;
}

.link a{
    color: white;
}

.banner p{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;

}

.banner h2{
    
    font-family: 'Bungee Inline', cursive;
    font-family: 'Bungee Shade', cursive;
    font-size: 80px;
}

#home div{
    width: 50%;
    margin: 4px;
    margin: solid black 4px;
}

#cadastro div{
    width: 30%;
}

#map  div{
    width: 50%;
    margin: -4px;
    margin: solid black 4px;
}

.bloco .logo{
    width: 500px;
    margin: 4px;
    align-items: flex-end;    
}


#mapa h2{
    font-family: 'Bungee Inline', cursive;
    font-family: 'Bungee Shade', cursive;
}

#googleMap{
    margin: -600px;
}

#cadastro img{
    margin: 50px;
    border: solid black;
    width: 300px;
    border-radius: 300px;
}

#login{
    background-image: url(../Pesquisa-ong/img/fundologin.jpg);
    
}

.login{
    position: absolute;
    align-items: center;
}

#login div{
    align-items: center;
   justify-content: center;
}

#login .interno{
    width: 100%;
    height: 500px;
    border: black dotted;

}

.interno{
    text-align: center;
}

.interno  .input-div {
   padding:60px;
    width: 50px;
    font-size: 35px;
   text-align: center;
   display: inline-block;
}
.interno a{
font-size: 15px;
 
}

.centrallogin p{
    font-family: 'Bungee Shade', cursive;
    font-size: 80px;
}

.interno #logologin{
width:300px;
}

#cadastro h2{
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}
