
html, body {height:100%;}
*{
    margin: 0%;
    padding: 0%;
}

div{
    margin: -200px;
}

body{
      overflow-x: hidden;
}

nav{
    display: block;
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    background-color: white;
    
}

nav a:hover{
    text-decoration:underline;
    }

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}


#index{
    background-image: url(../Pesquisa-ong/img/fundoindex.png) ;
   

}
#cadastro{
    background-image: url(../Pesquisa-ong/img/fundocadastro.jpg);

}

#mapa{
 background-image: url(../Pesquisa-ong/img/fundomapas.jpg);
 background-repeat: no-repeat

}

.link li{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align:  center;
    font-family: 'Arial';
    font-size: 100%;
    color: black
}

.link li:hover{
    background-color: black;
}

.banner p{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;

}

.banner h2{
    
    font-family: 'Bungee Inline', cursive;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
}

#home div{
    width: 50%;
    margin: 4px;
    margin: solid black 4px;
}

#cadastro div{
    width: 30%;
}

#map  div{
    width: 50%;
    margin: -4px;
    margin: solid black 4px;
}

.bloco .logo{
    margin: 0%;
    align-items: flex-end;    
}


#mapa h2{
    font-family: 'Bungee Inline', cursive;
    font-family: 'Bungee Shade', cursive;
}

#googleMap{
    margin: -600px;
}

#cadastro img{
    border: solid rgb(2, 2, 2);
    width: 250px;
    border-radius: 200px;
}

#login{
    background-image: url(../Pesquisa-ong/img/fundologin.jpg);
    
}


.footer {
    position:absolute;
   
}